<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>building docker image and pushing it to local docker repo</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <jenkins.triggers.ReverseBuildTrigger>
      <spec></spec>
      <upstreamProjects>checkout, validate and build, </upstreamProjects>
      <threshold>
        <name>SUCCESS</name>
        <ordinal>0</ordinal>
        <color>BLUE</color>
        <completeBuild>true</completeBuild>
      </threshold>
    </jenkins.triggers.ReverseBuildTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>docker buils . -t getintodevops-hellonode:${BUILD_TAG}</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command># execute tests and wait for results, BDD with cucumber preferebly 
sh echo &quot;all tests passed&quot;</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>docker push localhost.localdomain:5000/getintodevops-hellonode:${BUILD_TAG}</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>